// ------------------------------------
// -------------- Forms     -----------
// ------------------------------------

form {
    input {
        background-color: #ffffff;
        @extend small;
        padding: 1em 1.5em;

        border: 1px solid #d1d4d3;
		@include border-radius(.5em);
		max-width: 100%;

        &.form-submit {
            @extend .bold;
        }
    }
}
.content {
	form {
		input {
			color: $acp_grey;
			@extend .text--deci;
			margin: .5em 0;
		}
		input[type="submit"] {
	    	border: none;
	    	@extend .text--base;
	    	@extend .button;
	    	font-weight: normal;
	    }
	    .description {
	    	@extend small;
	    }
    }
}



// -------------------------- Checkboxes ------------------------- 
input[type="checkbox"] {
  display: none;
  -webkit-appearance:checkbox;
}
input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 1px!important;
  background-color: #ffffff;
  @include border-radius(4px);
  border: 1px solid #d1d4d3;
  cursor: pointer;
  vertical-align: middle;
  margin: -0.3em 0.5em 0 0;
  font-size: 13px;
}
input[type="checkbox"]:checked + label:before {
  @extend i;
  @extend .icon-check;
  color: $acp_blue_light;
  background-color: transparent;
}



// -------------------------- Select Boxes ------------------------- 
label.fancy {
  position:relative;
  background-color: #00a0df;
  &:before {
    @extend i;
    content: "\e612";
    padding-top: 1em;
    right: 1em;
    color: #ffffff;
    position:absolute;
    pointer-events:none;
    z-index: 100;
  }
  select {
    margin: 0;
    font-weight: normal;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    @extend .button;
    @extend .split-right;
    padding-right: 3em;
    //option {
      //background: #ffffff;
      //color: $acp_blue_light;
      //border-top: 1px solid $acp_grey_light;
    //}
  }
}

// -------------------------- Combo Boxes (input, select and submit) ------------------------- 
form {
  &.combo-box {
    margin: 0.5em 0;
    input {
      float: left;
      margin: 0;
      height: 50px;
      width: 50%;
      // @extend small;
      // font-size: 0.85em;
      @include border-left-radius(50px);
      @include border-right-radius(0);
    }
    label.fancy {
      float: left;
      font-weight: normal;
      height: 50px;
      background-color: #00a0df;
      &:after {
        padding-top: 0.95em;
      }
      select {
        height: 50px;
        width: 120%;
        @extend small;
        @include border-radius(0);
        //background: $acp_blue_light;
        border-top: 1px solid $acp_blue_light;
        border-bottom: 1px solid $acp_blue_light;
        @extend .extended_text;
      }
    }
    input[type="submit"]{
      float: left;
      height: 50px;
      width: 15%;
      @extend small;
      @extend .extended_text;
      @include border-left-radius(0);
      background-color: darken($acp_blue_light, 10%);
    }
  }
}

// hmpg clinical search submit btn
input.main-search-submit  {
    height: 50px;
    border-radius: 0 30px 30px 0;
    border: none;
    width: 15%;
    color: #fff;
    background-color: #007bac;
    padding: 0 1em;
    &:hover {
      background-color: #46cbff;
    }
}


// -------------------------- DRUPAL ACP FORMS SITE imports ------------------------- 
#main {

  // -------------------------- CLEAR --------------------------
  .clear {
    clear: both;
    display: block;
    float: left;
    height: 0;
    text-indent: -9999px;
    visibility: hidden;
    width: 0;
  }


  // -------------------------- FORMS --------------------------
  .webform-progressbar {
    margin-bottom: 55px;
  }
  form {
    input[readonly='readonly'] {
      background-color: $acp_grey_light;
      border: none;
      padding: 3px 10px;
      border-radius: 3px;
      cursor: not-allowed;
    }
    .webform-component, .form-actions {
      border-top: 1px solid $acp_grey_light;
      padding-top: 20px;
      clear: both;
      .description {
        padding: 10px 0;
      }
      &:first-of-type, &.first-item {
        border: none;
        padding-top: 0;
      }
    }
  }
  .border-override {
        padding-top: 20px !important;
        border-top: 1px solid $acp_grey_light !important;
      }
  // Progress Bar
  .webform-progressbar-page .webform-progressbar-page-label {
    display: inline-block;
    width: 150px;
    font-size: 12px;
    line-height: 17px;
  }
  .webform-confirmation {
    border: 1px solid $acp_yellow;
    background-color: lighten($acp_yellow, 30%);
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }


    // -------------------------- Web-FORMS CUSTOM OPTIONS --------------------------
  .node-webform {
    form {
      .left {
        clear: none;
        float: left;
        margin-right: 30px;
      }
      .right {
        clear: none;
        float: right;
        margin-left: 30px;
      }
      fieldset {
        &.half, &.third {
          width: 50%;
          float: left;
          margin: auto 0;
          padding: 0;
          border: 0;
          clear: none;
          background-color: transparent;
          input {
            width: 90%;
          }
        }
        &.third {
          width: 33.333%;
          input {
            width: 90%;
          }
        }
        &.simple {
          border: 1px solid #e5e5e5;
          background-color: transparent;
          legend {
            color: $acp_grey_dark;
          }
        }
        &.no_border .form-item {
          border: 0;
        }
      }
    }


    // Columns
    .two-column {
      @include column-count(2);
    }
    .three-column {
      @include column-count(3);
    }
    .four-column {
      @include column-count(4);
    }


    // Groupings - Level 1 
    fieldset {
      max-width: 100%;
      margin: 15px 0;
      border-color: $acp_green;
      background-color: #E6F2F0;
      clear: both;
      legend {
        color: $acp_green;
        font-size: 20px;
      }
      // Level 2 
      fieldset {
        border-color: $acp_green_mid;
        background-color: #EBF7EB;
        legend {
          color: $acp_green_mid;
          font-size: 20px;
        }
        // Level 3
        fieldset {
          border-color: $acp_green_bright;
          background-color: #F4FBE6;
          legend {
            color: $acp_green_bright;
            font-size: 20px;
          }
          // Level 4
          fieldset {
            border-color: $acp_green_light;
            background-color: #FBFCEC;
            legend {
              color: $acp_green_light;
              font-size: 20px;
            }
          }
        }
      }
    }



    // -------------------------- MEDIA DECLARATIONS ------------------------- 
    @media all and (max-width: 820px) {
      .webform-progressbar-page .webform-progressbar-page-label {
        width: 100px;
      }
    }

    @media all and (max-width: 640px) {
      .webform-progressbar-page .webform-progressbar-page-label {
        width: 75px;
        font-size: 11px;
        line-height: 12px;
      }
    }

    @media all and (max-width: 480px) {
      .webform-progressbar-page .webform-progressbar-page-label {
        width: 60px;
      }
      form {
        .webform-component, .form-actions {
          label {
            display: auto;
          }
          .form-radios {
            display: auto;
            width: auto;
          }
        }
        fieldset {
          input {
            width: 245px;
          }
          &.half, &.third {
            width: 100%;
            input {
              width: auto;
            }
          }
        }
      }
    }


    // -------------------------- BUTTONS ------------------------- 
    .button_blue, .button_green, .button_remove, 
    button.button_blue, button.button_green, 
    input.button_blue, input.button_green, input.button_remove {
      @extend .button;
    }
    // // blue
    // .button_blue {
    //   background-color: #0063be;
    //   border: 1px solid #0063be;
    //   &:hover {
    //     background-color: #dcedf4;
    //     color: #0063be;
    //   }
    // }
    // // green
    // .button_green {
    //   background-color: #00675a;
    //   border: 1px solid #00675a;
    //   &:hover {
    //     background-color: #acccc8;
    //     color: #00675a;
    //   }
    // }
    // remove
    .button_remove {
      background-color: $acp_grey_light;
      border: 1px solid $acp_grey_light;
      color: $acp_blue_mid;
      &:hover {
        background-color: #ffffff;
        // border-color: $acp_grey_light;
      }
    }

    .form-actions {
      input {
        margin: 0 5px 0 0;

        //save draft button
        @extend .button_remove;

        // previous and next buttons
        // &.webform-next, &.webform-previous
        &.button-primary {
          @extend .button_blue;
        }
      }
    }


    // -------------------------- LESS THAN IE8 ------------------------- 
    .lt-ie8 {
      .webform-progressbar-page-label {
        display: none;
      }
    }



    // -------------------------- TABLES ------------------------- 
    table {
      border-collapse: collapse;
      width: 100%;
      tbody tr:nth-child(odd) {
        background: #eee;
      }
      tr {
        th, td {
          padding: 0.25rem;
          text-align: left;
          border: 1px solid #ccc;
        }
        th {

        }
        td {

        }
      }
    }
  }
}

.node-type-homepage .join-acp {
  margin-top: 5em;
}


#mem-drop {
  padding-left: 0;
  width: 100%;
  margin: 0.7em 0 0 0;
  border-radius: 25px 25px 25px 25px;
  font-weight: normal;
}
#mem-join {
  width: 100%;
  margin: 1em 0 0 0;
}
#filter-button {
width: 100% !important;
border-radius: 25px 25px 25px 25px;
}
.droplist, label.fancy  {
  border-radius: 25px 25px 25px 25px;
  font-weight: normal;
}
span#filter-button:hover {
  //border-radius: 30px 30px 30px 30px;
}
//span#filter-button:focus {
 // border-radius: 30px 30px 0px 0px;
  //z-index: 100;
//}
label.fancy {
  background:none !important;
  text-overflow: ellipsis;
}
label.main-search-drop {
  width: 15em;
}
#filter-button {
  background-color: #00a0df;
}
#filter-button[aria-expanded="true"] {
  border-radius: 25px 25px 0px 0px;
}


//------------responsive main search form elements-----------

@media screen and (min-width: 1140px) {
  .main-search-drop #filter-button[aria-expanded="true"] {
    border-radius: 0px !important;
  }
 .main-search-drop #filter-button[aria-expanded="false"] {
    border-radius: 0px;
  }
}

@media screen and (max-width: 1139px) {
  .combo-box input {
    float: right;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
  }
  label.fancy {
    float: none;
    width: 14em;
    border-radius: 25px;
    margin-top: 1em;
    //margin-left: 8%;
    z-index: 99;
  }
  label.main-search-drop {
    margin-left: 8%;
  }
  input.main-search-submit {
    float: right;
    margin-top: 1em;
    border-radius: 25px;
    margin-right: 8%;
    //width: 40%;
  }
  .acp-grey-light.join-acp.grid {
    //margin-top: 3.5em;
  }
  span#filter-button {
    border-radius: 25px;
    width: 100% !important;
  }
}

@media screen and (max-width: 960px) {
  input.main-search-submit {
    float: none;
    width: 100%;
  }
  label.fancy {
    //width: 100%;
    width: 14em;
    max-width: 100%;
    margin-left: 0;
  }
  .ui-selectmenu-button span.ui-selectmenu-text {
    //text-align: center;
    //padding: 00.7em 2em 0.7em 0.5em !important;
  }
}

@media screen and (max-width: 780px){
  label.fancy {
    width: 100%;
  }
  #mem-drop .ui-selectmenu-button span.ui-selectmenu-text{
    text-align: center !important;
    padding: 0.9em 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  label.fancy {
    width: 100%;
  }
  .node-type-custom .membership-join-acp input[type="submit"]{
    width: 100%;
  }
  .membership-join-acp {
    //width: 100% !important;
  }
}

//-----main search responsiveness------

@media screen and (max-width: 1139px) {

input.main-search-text {
  width: 100% !important;
  border-radius: 25px !important;
}
input.main-search-submit {
 width: 14em;
}
//------membership drop and join button-------

label.fancy#mem-drop {
  margin-left: 0;
  margin-top: 0.7em;
}
.node-type-custom .membership-join-acp input[type="submit"]{
 float: none;
 margin-top: 1em;
 width: 14em;
}
input[type="email"] {
  margin-bottom: 1em;
}
}
@media screen and (max-width: 960px) {

.main-search-drop {
 width: 100% !important;
}
input.main-search-submit {
 width: 100%;
}
.node-type-homepage .join-acp {
  margin-top: 2em !important;
}
}

@media screen and (max-width: 760px) {
  .node-type-custom .membership-join-acp input[type="submit"] {
    width: 100%;
  }
}

//--------choose state drop responsiveness (about page tabs)-------------

@media screen and (max-width: 1139px) {

label.droplist {
  width: 100%;
  margin-left: 0;
 }
}


//---------Policy Search-------------------------------

#policy-search {
  max-width: 800px;
  input {
    max-width: 84%;
    border: 1px solid #ccc !important;
  }
}
