@font-face {
	font-family: 'KSAP-Core-Icons';
	src:url('../fonts/KSAP-Core-Icons.eot?7fzagv');
	src:url('../fonts/KSAP-Core-Icons.eot?#iefix7fzagv') format('embedded-opentype'),
		url('../fonts/KSAP-Core-Icons.woff?7fzagv') format('woff'),
		url('../fonts/KSAP-Core-Icons.ttf?7fzagv') format('truetype'),
		url('../fonts/KSAP-Core-Icons.svg?7fzagv#KSAP-Core-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i, .i {
	font-family: 'KSAP-Core-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
i.space-right {
	padding-right: .5em;
}

.icon-doc:before {
	content: "\e600";
}
.icon-pdf:before {
	content: "\e601";
}
.icon-ppt:before {
	content: "\e602";
}
.icon-xls:before {
	content: "\e603";
}
.icon-google-plus:before {
	content: "\e617";
}
.icon-feed2:before {
	content: "\e618";
}
.icon-youtube:before {
	content: "\e619";
}
.icon-linkedin2:before {
	content: "\e61a";
}
.icon-carret_down_thin:before {
	content: "\e61b";
}
.icon-circle_full_arrow_right:before {
	content: "\e61c";
}
.icon-circle_open_arrow_right:before {
	content: "\e61d";
}
.icon-circle_open_carret_thin_left:before {
	content: "\e61e";
}
.icon-circle_open_carret_thin_right:before {
	content: "\e61f";
}
.icon-community:before {
	content: "\e620";
}
.icon-download_2:before {
	content: "\e621";
}
.icon-vine:before {
	content: "\e622";
}
.icon-marker:before {
	content: "\e60d";
}
.icon-marker-empty:before {
	content: "\e610";
}
.icon-light-bulb:before {
	content: "\e611";
}
.icon-star-empty:before {
	content: "\e08a";
}
.icon-star-half:before {
	content: "\e08b";
}
.icon-star:before {
	content: "\e089";
}
.icon-heart:before {
	content: "\e08c";
}
.icon-heart-empty:before {
	content: "\e08d";
}
.icon-flag:before {
	content: "\e08e";
}
.icon-flag-empty:before {
	content: "\e08f";
}
.icon-user-group:before {
	content: "\e012";
}
.icon-user:before {
	content: "\e011";
}
.icon-user-sign-out:before {
	content: "\e014";
}
.icon-user-edit:before {
	content: "\e013";
}
.icon-home:before {
	content: "\e000";
}
.icon-pencil:before {
	content: "\e002";
}
.icon-edit:before {
	content: "\e003";
}
.icon-book:before {
	content: "\e001";
}
.icon-trash:before {
	content: "\e004";
}
.icon-bar-graph:before {
	content: "\e009";
}
.icon-settings:before {
	content: "\e005";
}
.icon-hospital:before {
	content: "\e016";
}
.icon-hvc:before {
	content: "\e006";
}
.icon-calendar:before {
	content: "\e00a";
}
.icon-tables:before {
	content: "\e007";
}
.icon-figures:before {
	content: "\e008";
}
.icon-grid-large:before {
	content: "\e021";
}
.icon-grid:before {
	content: "\e022";
}
.icon-list-group:before {
	content: "\e023";
}
.icon-list-settings:before {
	content: "\e024";
}
.icon-list-item-alt:before {
	content: "\e025";
}
.icon-list-item:before {
	content: "\e026";
}
.icon-menu:before {
	content: "\e027";
}
.icon-comment:before {
	content: "\e039";
}
.icon-comments:before {
	content: "\e03a";
}
.icon-comments-alt:before {
	content: "\e03b";
}
.icon-bookmark-empty:before {
	content: "\e03c";
}
.icon-bookmark:before {
	content: "\e03d";
}
.icon-bullet:before {
	content: "\e040";
}
.icon-bullet-med:before {
	content: "\e03f";
}
.icon-bullet-lrg:before {
	content: "\e03e";
}
.icon-search:before {
	content: "\e052";
}
.icon-zoom-in:before {
	content: "\e053";
}
.icon-zoom-out:before {
	content: "\e054";
}
.icon-download-alt:before {
	content: "\e056";
}
.icon-upload-alt:before {
	content: "\e055";
}
.icon-arrow-left-circle-alt:before {
	content: "\e090";
}
.icon-arrow-right-circle-alt:before {
	content: "\e091";
}
.icon-eye-open:before {
	content: "\e05b";
}
.icon-eye-closed:before {
	content: "\e05c";
}
.icon-backward:before {
	content: "\e066";
}
.icon-forward:before {
	content: "\e067";
}
.icon-play:before {
	content: "\e068";
}
.icon-pause:before {
	content: "\e069";
}
.icon-eject:before {
	content: "\e063";
}
.icon-fast-backward:before {
	content: "\e064";
}
.icon-fast-forward:before {
	content: "\e065";
}
.icon-volume-off:before {
	content: "\e061";
}
.icon-volume-down:before {
	content: "\e060";
}
.icon-volume-up:before {
	content: "\e062";
}
.icon-sort-down:before {
	content: "\e06a";
}
.icon-sort-up:before {
	content: "\e06b";
}
.icon-caret-small-left:before {
	content: "\e073";
}
.icon-caret-small-right:before {
	content: "\e074";
}
.icon-sort:before {
	content: "\e06c";
}
.icon-cancel:before {
	content: "\e028";
}
.icon-warning:before {
	content: "\e02b";
}
.icon-exclamation-circle:before {
	content: "\e02c";
}
.icon-info-circle:before {
	content: "\e02d";
}
.icon-shape-bubble-empty:before {
	content: "\e041";
}
.icon-shape-bubble:before {
	content: "\e042";
}
.icon-shape-circle-empty:before {
	content: "\e043";
}
.icon-shape-circle:before {
	content: "\e044";
}
.icon-shape-square-empty:before {
	content: "\e045";
}
.icon-shape-square:before {
	content: "\e046";
}
.icon-upload:before {
	content: "\e057";
}
.icon-download:before {
	content: "\e058";
}
.icon-video:before {
	content: "\e059";
}
.icon-image:before {
	content: "\e05a";
}
.icon-caret-down-circle:before {
	content: "\e06d";
}
.icon-caret-up-circle:before {
	content: "\e06e";
}
.icon-caret-left-circle:before {
	content: "\e06f";
}
.icon-caret-right-circle:before {
	content: "\e070";
}
.icon-caret-small-down:before {
	content: "\e071";
}
.icon-caret-small-up:before {
	content: "\e072";
}
.icon-caret-down:before {
	content: "\e075";
}
.icon-caret-up:before {
	content: "\e076";
}
.icon-caret-left:before {
	content: "\e077";
}
.icon-caret-right:before {
	content: "\e078";
}
.icon-angle-down:before {
	content: "\e085";
}
.icon-angle-up:before {
	content: "\e086";
}
.icon-angle-left:before {
	content: "\e087";
}
.icon-angle-right:before {
	content: "\e088";
}
.icon-chevron-down:before {
	content: "\e081";
}
.icon-chevron-up:before {
	content: "\e082";
}
.icon-chevron-left:before {
	content: "\e083";
}
.icon-chevron-right:before {
	content: "\e084";
}
.icon-chevron-down-thin:before {
	content: "\e612";
}
.icon-chevron-up-thin:before {
	content: "\e613";
}
.icon-chevron-left-thin:before {
	content: "\e614";
}
.icon-chevron-right-thin:before {
	content: "\e615";
}
.icon-chevron-down-circle:before {
	content: "\e079";
}
.icon-chevron-up-circle:before {
	content: "\e07a";
}
.icon-chevron-left-circle:before {
	content: "\e07b";
}
.icon-chevron-right-circle:before {
	content: "\e07c";
}
.icon-question-circle:before {
	content: "\e02e";
}
.icon-check-circle:before {
	content: "\e02f";
}
.icon-remove-circle:before {
	content: "\e030";
}
.icon-plus-circle:before {
	content: "\e031";
}
.icon-minus-circle:before {
	content: "\e032";
}
.icon-check:before {
	content: "\e033";
}
.icon-remove:before {
	content: "\e034";
}
.icon-plus:before {
	content: "\e035";
}
.icon-minus:before {
	content: "\e036";
}
.icon-link:before {
	content: "\e00c";
}
.icon-link-ext:before {
	content: "\e00b";
}
.icon-new-window:before {
	content: "\e047";
}
.icon-new-window-square:before {
	content: "\e048";
}
.icon-share:before {
	content: "\e049";
}
.icon-refresh:before {
	content: "\e04a";
}
.icon-time:before {
	content: "\e038";
}
.icon-time-reset:before {
	content: "\e037";
}
.icon-save:before {
	content: "\e04b";
}
.icon-print:before {
	content: "\e04c";
}
.icon-envelope:before {
	content: "\e04d";
}
.icon-paper-clip:before {
	content: "\e04f";
}
.icon-tag:before {
	content: "\e050";
}
.icon-tags:before {
	content: "\e051";
}
.icon-sitemap:before {
	content: "\e04e";
}
.icon-resize-small:before {
	content: "\e05d";
}
.icon-resize-full:before {
	content: "\e05e";
}
.icon-quote-left:before {
	content: "\e01f";
}
.icon-quote_right:before {
	content: "\e020";
}
.icon-type-bold:before {
	content: "\e01e";
}
.icon-type-regular:before {
	content: "\e01d";
}
.icon-type-light:before {
	content: "\e01c";
}
.icon-type-scale:before {
	content: "\e01b";
}
.icon-certificate:before {
	content: "\e01a";
}
.icon-asterisk:before {
	content: "\e019";
}
.icon-bolt:before {
	content: "\e018";
}
.icon-wrench:before {
	content: "\e017";
}
.icon-stethoscope:before {
	content: "\e015";
}
.icon-airplane:before {
	content: "\e029";
}
.icon-bell:before {
	content: "\e02a";
}
.icon-arrow-down:before {
	content: "\e07d";
}
.icon-arrow_up:before {
	content: "\e07e";
}
.icon-arrow-left:before {
	content: "\e07f";
}
.icon-arrow-right:before {
	content: "\e080";
}
.icon-arrow-slim-down:before {
	content: "\e604";
}
.icon-arrow-slim-up:before {
	content: "\e605";
}
.icon-arrow-slim-left:before {
	content: "\e606";
}
.icon-arrow-slim-right:before {
	content: "\e607";
}
.icon-arrow-slim-down-circle:before {
	content: "\e608";
}
.icon-arrow-slim-up-circle:before {
	content: "\e609";
}
.icon-arrow-slim-left-circle:before {
	content: "\e60a";
}
.icon-arrow-slim-right-circle:before {
	content: "\e60b";
}
.icon-lock:before {
	content: "\e60c";
}
.icon-lock-open:before {
	content: "\e60e";
}
.icon-close-thin:before {
	content: "\e60f";
}
.icon-close-xtra-thin:before {
	content: "\e616";
}
.icon-presentation:before {
	content: "\e05f";
}
.icon-device-desktop:before {
	content: "\e623";
}
.icon-device-laptop:before {
	content: "\e624";
}
.icon-device-tablet:before {
	content: "\e625";
}
.icon-device-phone:before {
	content: "\e626";
}
.icon-facebook:before {
	content: "\e00d";
}
.icon-facebook-square:before {
	content: "\e00e";
}
.icon-twitter:before {
	content: "\e00f";
}
.icon-twitter-square:before {
	content: "\e010";
}
.icon-shopping_cart:before {
	content: "\e627";
}
